.btn-purple{
  color: darkgray;
  background-color: transparent;
  border: 0.5px solid #495057;
  border-radius: 50px;
  padding: 38px 84px;
}

.btn-purple:hover {
background: #b100e8;
box-shadow: 0 0 10px #8900f2, 0 0 40px #a100f2, 0 0 80px #d100d1;
transition: 1s;
border: 1px solid #bc00dd;
}

.btn-purple:hover span{
  display:none;
}

.btn-purple:hover:after {
color:white;
content: ":)";
}
